services:
  selenium:
    image: selenium/standalone-chrome:latest
    shm_size: 2gb
    ports:
      - "4444:4444"
    healthcheck:
      test: [ 'CMD-SHELL', 'curl -fsS http://localhost:4444/wd/hub/status || exit 1' ]
      interval: 5s
      timeout: 5s
      retries: 30

  tests:
    image: lenamagenty/framework-frontend:v1
    depends_on:
      selenium:
        condition: service_healthy
    environment:
      SELENIUM_REMOTE_URL: 'http://selenium:4444/wd/hub'
      ARTIFACTS_DIR: '/artifacts'
    volumes:
      - ./artifacts:/artifacts
      - ./artifacts/logs:/app/tests/framework_frontend/logger/logs
    command: [ 'pytest', '-q', 'tests/framework_frontend/test', '-m', 'not gui',
               '--disable-warnings', '--junitxml=/artifacts/junit.xml' ]